name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          sudo apt update
          # Menggunakan library versi terbaru yang tersedia di Ubuntu 24.04
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses-dev libffi-dev libssl-dev cmake gettext libtinfo6
          pip3 install --user --upgrade Cython==0.29.33 buildozer
          echo "/home/runner/.local/bin" >> $GITHUB_PATH

      - name: Build APK
        run: |
          # Perintah ini akan menyetujui lisensi SDK secara otomatis
          # dan melakukan build
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: netcutter-apk
          path: bin/*.apk
