name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip3 install --user --upgrade Cython==0.29.33 buildozer
          # Tambahkan path bin ke environment
          echo "/home/runner/.local/bin" >> $GITHUB_PATH

      - name: Build APK
        run: |
          # Perintah ini akan mendownload SDK/NDK secara otomatis
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: netcutter-apk
          path: bin/*.apk
